/*
    Document   : phpcs
    Created on : Dec 27, 2010, 1:34:02 PM
    Author     : schkovich
    Description:
        This stylesheet is designed to style phpcs XSLT stylessheet
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
table {
    width: 100%
}
th {
    text-align: left
}
th.file {
    width: 80%;
    color: green
}
.notes {
    width: 10%;
    color: blue
}
span {
    font-weight: bold
}
.error {
    color: red
}
.warning {
    color: orange
}
td.file {
    font-weight: bold;
}
.errors {
    font-weight: bold;
    color: red;
}
.warnings {
    font-weight: bold;
    color: blue;
}
.header td {
    background-color:lightsalmon;
    padding:4px 8px;
}
.errors-warnings {
    white-space: pre;
    background-color: khaki;
}